@use "../setting/setting";

.c-contact{
  background: #3e4149;
  padding: 32px 24px;
  color: #fff;
  text-align: center;
}


.c-contact__info{
  margin-top: 24px;

  a{
    font-size: 32px;
  }

  span{
    font-size: 16px;
    text-transform: uppercase;
  }
}

.c-contact__hour{
  font-size: 14px;
}

.c-contact__line{
  padding-top: 24px;
 
}

.c-contact__btn{

  a{
    border: 1px solid #999;
    text-align: center;
    padding: 12px 16px;
    letter-spacing: 1.6px;
    margin: 8px auto 0;
    display: block;
    transition: .4s;

    @media (min-width: 768px){
      width: 200px;
    }

    &:hover{
      background: #fff;
      color: setting.$color-main;
    }
  }
}

@media (min-width: 768px){
  .c-contact{
    padding: 40px 0;
  }
}

.-center{
  a{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px){
  .c-contact{
    padding: 40px 0;
    width: 40%;
  }

  .c-contact__lead{
    font-size: 20px;
  }

  .c-contact__info{
    a{
      font-size: 44px;
    }
  }
}