@use "../setting/setting";

.p-topAbout{
  padding: 64px 0 40px;
  position: relative;
}

.p-topAbout__heading{
  font-family: setting.$font-mincho;

  h2{
    font-weight: normal;
    font-size: 24px;
  }

  span{
    color: setting.$color-sub;
    font-size: 14px;
  }
}

@media not all and (min-width: 1023px){
  .p-topAbout__img{
    display: none;
  }

  .p-topAbout__img2{
    padding-top: 36px;
    margin: 0 calc(50% - 50vw);
  }
}

@media (min-width: 768px){
  .p-topAbout__img2{
    img{
      display: none;
    }
  }
}


@media (min-width: 1024px){
  .p-topAbout{
    padding: 140px 0 120px;
    background: url(../images/bg/bg.jpg) no-repeat center center/cover;
    overflow: hidden;

    .l-inner{
      margin-left: auto;
      margin-right: auto;
      position: relative;
      height: 480px;
    }
  }

  .p-topAbout__contents{
    position: absolute;
    left: 0;
    top: 0;
    
  }

  .p-topAbout__items{
    display: flex;
    align-items: center;
  }

  .p-topAbout__img{
    width: 330px;
    height: 480px;
    overflow: hidden;
    
    img{
      height: 100%;
    }
  }

  .p-topAbout__text{
    width: 520px;
    max-height: 480px;
    padding: 0 64px;
  }

  .p-topAbout__img2{
    width: 720px;
    height: 480px;
    background: url(../images/portrait.jpg) no-repeat center center/cover;
  }

}
