
.l-footer{
  padding: 40px 0 12px;
}

.l-footer__inner{
  padding-right: 6%;
  padding-left: 6%;
  margin: 0 auto;
}

.l-footer__info{

  h1{
    width: 240px;
  }
  ul{
    padding-top: 24px;
  }

  li{
    padding-bottom: 8px;
  }
}


.l-footer__copy{
  text-align: center;
  color: #999;
  display: block;
  padding-top: 40px;
}

@media not all and (min-width: 1024px){
  .l-footer__menu{
    padding-top: 32px;
    

    li{
      position: relative;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 1024px){
  .l-footer{
    padding: 64px 0 32px;
  }

  .l-footer__content{
    display: flex;
    justify-content: space-between;
  }

  .l-footer__info{
    padding-top: 0;

    h1{
      padding-bottom: 12px;
    }

    li{
      padding-bottom: 8px;
    }
  }

  .l-footer__menu{
    padding-top: 0;
    display: flex;

    li{
      padding-left: 28px;
      font-weight: bold;
    }
  }
}